.admonition-heading {

    &-note,
    &-tip,
    &-important,
    &-warning,
    &-caution {
        font-weight: bold;
        font-style: normal;
    }

    &-note {
        color: #1e90ff;
    }

    &-tip {
        color: #2ecc71;
    }

    &-important {
        color: #9004ec;
    }

    &-warning {
        color: #ffa500;
    }

    &-caution {
        color: #ff4500;
    }
}

.admonition {

    &-note,
    &-tip,
    &-important,
    &-warning,
    &-caution {
        padding: 10px 30px;
        margin: 2em 0;
    }

    &-note {
        background-color: #f0f8ff;
    }

    &-tip {
        background-color: #e8f5e9;
    }

    &-important {
        background-color: #f1e0ff;
    }

    &-warning {
        background-color: #fff5e6;
    }

    &-caution {
        background-color: #ffe6e6;
    }


}

p.abstract {
    font-style: italic;
    padding: 0 40px 0 30px;
}