.admonition {

    &-note,
    &-tip,
    &-important,
    &-warning,
    &-caution {
        padding: 10px 30px;
        margin: 2em 0;
    }

    &-note {
        background-color: #f0f8ff;
    }

    &-tip {
        background-color: #e8f5e9;
    }

    &-important {
        background-color: #ffe5e0;
    }

    &-warning {
        background-color: #ffe6e6;
    }

    &-caution {
        background-color: #fff5e6;
    }

    strong {
        font-style: normal;
    }
}

p.abstract {
    font-style: italic;
    padding: 0 40px 0 30px;
}